@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #fcf7f8;
    --text-color-1: #a31621;
}

body {
    background-color: var(--primary-color);
}

.gallery-header {
    text-align: center;
    padding: 2rem;
    margin: 1rem 0 1rem 0;
    color: var(--primary-color);
    background-color: var(--text-color-1);
}

.gallery-header a {
    color: var(--text-color-1);
    background: var(--primary-color);
    border-radius: 0.6rem;
    padding: 0.5rem 1rem;
    border: var(--primary-color);
    transition: 0.3s ease-in-out;
    display: inline-block;
    margin-top: 0.6rem;
    cursor: pointer;
    font-weight: bold;
}

.gallery-header a:hover {
    background-color: var(--text-color-1);
    border-radius: 0.6rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.gallery-header p {
    margin: 1rem 0;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid var(--text-color-1);
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    width: 100%;
    padding: 1.5rem;
}

.gallery-item {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

@media screen and (max-width: 1024px) {

    .gallery-container {
        margin: 2rem;
    }

    #gallery {
        gap: 1rem;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .gallery-item {
        width: 44%;
        height: 200px;
    }

    .gallery-container {
        margin: 1rem;
    }

    #gallery {
        gap: 1rem;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 480px) {
    .gallery-item {
        width: 100%;
        height: 180px;
    }

    .gallery-container {
        margin: 1rem;
    }

    #gallery {
        padding: 1rem;
        justify-content: space-evenly;
    }
}
